<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="host" value="http://10.211.55.2/salus/app/" />
    <add key="serverIp" value="10.211.55.6" />
    <add key="serverPort" value="8181" />
    <add key="secretKey" value="f11ce710-b67b-444a-9123-7cdb4dbf84f0" />
    <add key="docServer" value="ERNESTO-MACPC" />
    <add key="docDirectory" value="MedDoc" />
    <add key="testUser" value="it" />
    <add key="testArea" value="" />
    <add key="patientImgCategory" value="DW" />
    <add key="insuranceImgCategory" value="DW" />
    <add key="documentsCategory" value="DW" />
    <add key="syncBuffer" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="TraDataConnection" connectionString="data source=ERNESTO-MACPC\SQL2012;initial catalog=salusdata;persist security info=True;user id=sa;password=couz2431"
      providerName="System.Data.SqlClient" />
    <add name="SalusConnection" connectionString="data source=ERNESTO-MACPC\SQL2012;initial catalog=salusdata;user id=sa;password=couz2431"
      providerName="System.Data.SqlClient" />
    <add name="WebPortal.Properties.Settings.TraDataConnectionString"
      connectionString="Data Source=ERNESTO-MACPC\SQL2012;Initial Catalog=salusdata;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>